<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static from staticfiles %}
    <title>Ampics | Log in</title>

    <link rel="shortcut icon" href="{% static 'images/ampics.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Password Reset Done</h2>
        <div>
            <a class="submit-btn" href="/">Log in</a>
        </div>

        <!-- <input class="submit-btn" type="submit" value="Send"> -->
    </form>
</body>
</html>