<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static from staticfiles %}
    <title>Ampics | Upload</title>

    <link rel="shortcut icon" href="{% static 'images/ampics.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Upload</h2>

        <!-- <div>
            <label for="#pc">Caption:</label>
            {{form.as_p}}
        </div> -->

        <div>
            <label for="#pc">Caption:</label>
            {{form.caption}}
        </div>

        <div>
            <label for="#pc">Category:</label>
           {{ form.category }}
        </div>

        <div>
            <label for="#pc">Image:</label>
            {{form.image}}
        </div>

        <input class="submit-btn" type="submit" value="Upload">
    </form>
</body>
</html>