<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	<title>Ampics | Profile</title>

	<link rel="shortcut icon" href="{% static 'images/ampics.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <style>
        .upload a,
        .upload label {
            display: none;
        }
    </style> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
	<div class="navbar">
        <div class="navigator">
            <!-- <div class="btn-menu" onclick="open_dash_menu()">
                <div></div>
                <div></div>
                <div></div>
            </div> -->
            <h2 style="text-transform: uppercase;
             color: #fff;">{{ request.user.account.name }}</h2>
        </div>
        <ul>
        	<li><a href="{% url 'home' %}">Home</a></li>
	        <li><a class="log-out" href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </div>

    <!-- LOAD ONE BOX CONTAINING THE USER DATA AND UPDATE FORM -->
    <form method="post" class="user-details" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-image">
            <img src="{{ user.account.profile_pic.url }}" />
        </div>
        <!-- <button class="upload">Upload</button> -->
        <!-- <p class="upload"> {{ form.profile_pic }}</p> -->
        <input type="file" class="upload" id="prof" accept="image/*" name="profile_pic">
        <label id="lab" for="prof"><i class="fa-solid fa-upload"></i> Upload</label>
        <div class="form-input">
            {{ form.name }}
        </div>
        <div class="form-input">
            {{ form.email }}
        </div>
        <input class="sub-btn" type="submit" value="Update" />
    </form>

    <script src="{% static 'js/main.js' %}"></script>
    <!-- <script>
        let old_pic = document.getElementById('profile_pic-clear_id');
        old_pic.style.display = 'none';

        let p_text = document.getElementsByClassName('upload');
        p_text.outerText = '';
        console.log(p_text)
    </script> -->
</body>
</html>